html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

body {
  background-image: url(../images/header-bg2.jpg);
  background-repeat: no-repeat;
  background-position: 0% -2%;
  background-color: #000;
  font-family: "Inter", sans-serif;
}

// переменные для цветов и смены темы в js:

:root {
  --gold-color: #bdae82;
  --black-color: #000000;
  --white-color: #ffffff;
  --wtn-color: #ffffff;
}

// настройка title блоков:

.section__title {
  margin: 0 auto;
  margin-bottom: 60px;
  background-image: linear-gradient(
    to top,
    var(--black-color) 39px,
    var(--gold-color) 39px,
    var(--gold-color) 41px,
    var(--black-color) 41px
  );
  width: 50%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  padding: 0 20px;
  background-color: var(--black-color);
  color: var(--gold-color);
  font: 40px "Merriweather", serif;
  font-weight: 700;
}

.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}

.header__top {
  min-height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-link:hover .header__logo-img path {
  fill: #bdae82;
}

.header__logo-img {
  z-index: 33;
}

.header__nav-list {
  display: flex;
}

.header__nav-item {
  margin-right: 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #ffffff;
  transition: all 0.3s;
}

.header__nav {
  padding-right: 80px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.header__theme-btn {
  position: absolute;
  content: "";
  right: 7px;
  background-color: transparent;
  width: 45px;
  height: 45px;
  border: none;
  cursor: pointer;
  margin-left: 25px;
  z-index: 1000;
}

.header__theme-img {
  display: none;
}
.header__theme-btn.theme-active .header__theme-img__dark {
  display: none;
}
.header__theme-btn.theme-active .header__theme-img {
  display: block;
}

.header__theme-img path,
.header__theme-img__dark path {
  transition: all 0.3s;
}
.header__theme-btn:hover .header__theme-img path,
.header__theme-btn:hover .header__theme-img__dark path {
  fill: #bdae82;
}

.burger-nav {
  position: absolute;
  top: 10px;
  height: 28px;
  width: 50px;
  border-radius: 50%;
  background-color: transparent;
  z-index: 1000;
  border: transparent;
  cursor: pointer;
  display: none;
}

.burger-nav::after {
  top: 0;
  left: 0;
  transition: transform 350ms ease-out;
  position: absolute;
  content: "";
  width: 38px;
  height: 28px;
  border-top: 3.5px solid var(--white-color);
  border-bottom: 3.5px solid var(--white-color);
}

.burger-nav::before {
  top: 43.5%;
  left: 0;
  transition: transform 350ms ease-out;
  position: absolute;
  content: "";
  width: 38px;
  height: 28px;
  border-top: 3.5px solid var(--white-color);
}

.header__lang,
.footer__rschool-sign,
.footer__author-gh {
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #ffffff;
  transition: all 0.3s;
}

.header__lang input[type="radio"] {
  display: none;
}

.header__lang label {
  cursor: pointer;
  font-weight: bold;
}

.header__lang label:hover {
  color: #bdae82;
}

.header__lang input[type="radio"]:checked + label {
  color: #bdae82;
}

.header__nav-item:hover,
.footer__rschool-sign:hover,
.footer__author-gh:hover {
  color: #bdae82;
}

.hero {
  padding-top: 160px;
  min-height: 820px;
}

.hero__item {
  max-width: 550px;
  margin-left: 50px;
}

.hero__item-title {
  font-family: "Merriweather";
  font-weight: 700;
  font-size: 60px;
  line-height: 120px;
  color: #ffffff;
  margin-bottom: 10px;
  z-index: 33;
}

.hero__item-text {
  max-width: 470px;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: #ffffff;
  margin-bottom: 40px;
  z-index: 33;
}

.hero__item-link {
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  padding: 16px 74px;
  background-color: #bdae82;
  transition: all 0.3s;
  z-index: 33;
}

.hero__item-link:hover {
  color: #fff;
}

.skills,
.portfolio,
.video,
.price {
  padding-bottom: 100px;
  background-color: var(--black-color);
  color: var(--white-color);
}

.skills {
  padding-top: 100px;
  border-top: 1px solid var(--gold-color);
}

.skills__inner {
  display: flex;
  justify-content: space-between;
}

.skills__item {
  max-width: 320px;
  text-align: center;
}

.skills__item-img {
  margin: 0 auto;
}

.skills__item-title {
  margin-top: 50px;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  margin-bottom: 20px;
}

.skills__item-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  max-width: 280px;
}

.portfolio-filter__list {
  display: flex;
  justify-content: center;
}

.portfolio-filter__list-btn {
  width: 220px;
  margin-left: 5px;
  padding: 8px 73px;
  position: relative;
  background-color: var(--black-color);
  border: 2px solid #bdae82;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  color: var(--gold-color);
  cursor: pointer;
  margin-bottom: 60px;
  transition: all 0.4s;
  overflow: hidden;
}

.portfolio-filter__list-btn:hover {
  color: #fff;
  background-color: #bdae82;
  box-shadow: 0 2px 10px 5px var(--wtn-color);
}

.portfolio-filter__list-btn:focus {
  outline: none;
}

.btn-active {
  background-color: #bdae82;
  color: var(--black-color);
  box-shadow: 0 2px 10px 5px var(--wtn-color);
}

.portfolio__inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 27px;
}

.portfolio-item__img {
  width: 100%;
}

.video-wrap {
  max-width: 1400px;
  max-height: 705px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.video-item {
  width: 100%;
  object-fit: contain;
}

.play-icon {
  position: absolute;
  width: 150px;
  height: 150px;
  left: 0;
  right: 0;
  top: 38%;
  margin: 0 auto;
  border: none;
  background: transparent;
  transition: all 0.3s;
  cursor: pointer;
}

.video-wrap.pause .play-icon {
  display: none;
}

.play-icon .play-icon__img path {
  transition: all 0.4s;
}

.play-icon:hover .play-icon__img path {
  fill: #bdae82;
}

.play-button {
  width: 5%;
  height: 53px;
  cursor: pointer;
  font-size: 25px;
  border: none;
  background-color: transparent;
  color: #bdae82;
  padding: 10px;
  position: absolute;
  left: 0;
  margin-bottom: 3px;
}

.play-button:focus {
  outline: none;
}

.time {
  text-align: center;
  color: #bdae82;
  font-size: 20px;
  width: 10%;
  right: 0;
}

input[type="range"] {
  -webkit-appearance: none;
  background: none;
  margin: 0;
  width: 10%;
  padding-left: 10px;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: black;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  background: #bdae82;
  cursor: pointer;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  bottom: -3px;
  width: 100%;
  height: 53px;
  transform: translateY(100%) translateY(-3px);
  transition: 0.3s;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.6);
}

.video-wrap:hover .player-controls {
  transform: translateY(0%) translateY(-3px);
}

.video-progress {
  position: relative;
  display: flex;
  width: 69%;
  height: 10px;
  transition: 0.3s;
  background: black;
  cursor: pointer;
  margin-right: 12px;
}

.video-progress-filled {
  width: 0;
  background: #bdae82;
}

.mute {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mute.muted {
  opacity: 0.5;
}

.mute.muted .slash {
  display: block;
}

.mute .slash {
  display: none;
  position: absolute;
  width: 2px;
  height: 100%;
  background: #bdae82;
  transform: rotate(-50deg);
  z-index: 35;
}

.fullscreen {
  margin-right: 15px;
}

.control-button {
  cursor: pointer;
  background: transparent;
  color: #bdae82;
  border: none;
}

.price-content {
  display: flex;
  justify-content: center;
}

.price-content__item {
  width: 450px;
  padding: 40px 0;
  text-align: center;
  border: 3px solid #bdae82;
}

.price-content__item:nth-child(2) {
  margin: 0 25px;
}

.price-content__item-title,
.price-content__item-nub {
  font-family: "Merriweather", serif;
  font-weight: bold;
  margin-bottom: 20px;
}

.price-content__item-title {
  font-size: 28px;
  line-height: 56px;
}

.price-content__item-nub {
  font-size: 24px;
  line-height: 48px;
  color: #bdae82;
}

.price-content__item-descr {
  font-weight: normal;
  font-size: 18px;
  line-height: 36px;
}

.price-content__item-btn,
.contact-item__btn {
  margin-top: 40px;
  padding: 8px 39px;
  border: none;
  background-color: #bdae82;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  color: #000000;
  cursor: pointer;
  transition: all 0.3s;
}

.price-content__item-btn:hover,
.contact-item__btn:hover {
  color: #fff;
}

.contact {
  background-image: url(../images/contacts.jpg);
  background-repeat: no-repeat;
  background-position: center;
  min-height: 700px;
}

.contact-item__wrapper {
  display: flex;
  justify-content: flex-end;
}

.contact-title::after,
.contact-title::before {
  display: none;
}

.contact-title {
  margin: 0 0;
  max-width: 450px;
  margin-bottom: 40px;
  text-align: left;
  color: #bdae82;
  background-color: transparent;
}

.contact-item {
  margin-top: 60px;
  display: grid;
  width: 450px;
}

.contact-item__email,
.contact-item__tel,
.contact-item__mess {
  border: 2px solid #bdae82;
  background-color: rgba(0, 0, 0, 0.5);
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  color: #bdae82;
  padding: 5px 0 5px 20px;
  margin-bottom: 20px;
  outline: none;
}

.contact-item__mess {
  min-height: 100px;
  resize: none;
  margin-bottom: 0;
}

.contact-item__email::placeholder,
.contact-item__tel::placeholder,
.contact-item__mess::placeholder {
  color: #bdae82;
}

.contact-item__btn {
  margin-top: 30px;
  max-width: 220px;
}

.footer {
  background-color: #000;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  min-height: 150px;
  align-items: center;
}

.footer__author {
  display: flex;
}

.footer__author-sign,
.footer__rschool-sign {
  font-weight: normal;
  font-size: 18px;
  line-height: 50px;
  color: #ffffff;
  margin-right: 20px;
}

.footer__rschool-sign {
  font-size: 20px;
}

.footer__social-list {
  display: flex;
  align-items: center;
}

.footer__social-item {
  margin-left: 23px;
}

.footer__social-img path {
  transition: all 0.3s;
}

.footer__social-link:hover .footer__social-img path {
  fill: #bdae82;
}
@media (max-width: 1200px) {
  .video-progress {
    width: 67%;
  }
}
@media (max-width: 1180px) {
  .container {
    padding: 0 60px;
  }
  .hero__item {
    margin-left: 0px;
  }
  body {
    background-position: top center;
  }
  .hero__item-text {
    max-width: 390px;
  }
  .skills,
  .portfolio {
    display: flex;
  }
  .skills__inner {
    max-width: 768px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 70px;
  }
  .skills__item-title {
    margin-top: 30px;
  }
  .skills__item-text {
    line-height: 22px;
  }
  .section__title {
    width: 90%;
  }
  .portfolio-title {
    margin-bottom: 48px;
  }
  .portfolio__inner {
    grid-template-columns: 1fr 1fr;
    grid-gap: 27px;
  }
  .video-title::before {
    width: 500px;
    left: -114%;
  }
  .price-title::before {
    width: 500px;
    left: -126%;
  }
  .time {
    font-size: 17px;
  }
  .video-progress {
    margin-right: 5px;
  }
}

@media (max-width: 1440px) {
  .footer__rschool {
    margin-right: -20px;
  }
  .player-controls {
    bottom: 0px;
  }
}

@media (max-width: 1030px) {
  .hero {
    padding-top: 78px;
    min-height: 500px;
  }
  .title {
    font-size: 32px;
  }
  .title::after {
    width: 83%;
    left: 19px;
  }
  .skills__inner {
    grid-gap: 76px 67px;
  }
  .skills__title {
    line-height: 40px;
  }
  .skills__title::after {
    left: 12px;
  }
  body {
    height: 590px;
    background-position: -5px -30px;
    background-size: auto 620px;
  }
  .hero__item-title {
    font-weight: 400;
    font-size: 45px;
    line-height: 64px;
    margin-bottom: 20px;
  }
  .hero__item-text {
    line-height: 24px;
    margin-bottom: 67px;
  }
  .portfolio-filter__list {
    max-width: 445px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
  }
  .portfolio-filter__list-btn {
    margin-bottom: 0;
    margin-left: 0;
    padding: 6px 73px;
  }
  .portfolio-filter__nav-list {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
  }
  .price-title {
    margin-bottom: 50px;
  }
  .price-content {
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
  }
  .price-content__item:nth-child(2) {
    margin: 50px 0;
  }
  .price-content__item {
    width: 420px;
    height: 505px;
  }
  .price-content__item-btn:nth-child(2) {
    margin-bottom: 20px;
  }
  .contact-item__wrapper {
    justify-content: center;
  }
  .contact-title {
    text-align: center;
  }
  .contact-item__btn {
    margin: 0 auto;
    margin-top: 30px;
  }
  .contact-item__email,
  .contact-item__tel,
  .contact-item__mess {
    padding: 2px 0 5px 20px;
  }
  input[type="range"] {
    width: 8%;
    padding-left: 0px;
  }
  .media-container {
    padding: 0 0;
  }
  .play-icon__img {
    width: 100px;
    height: 100px;
  }
  .time {
    margin-right: -7px;
  }
  .fullscreen {
    margin-right: 8px;
  }
  .video-progress {
    width: 69%;
    margin-right: 10px;
  }
  .control-button {
    margin-right: 10px;
  }
  .video__title {
    width: 79%;
  }
}

.light-theme {
  background-color: #fff;
  color: #000;
}

.light-theme:hover {
  color: #000;
}

@media (max-width: 1000px) {
  .video-progress {
    width: 65%;
    margin-left: 50px;
    margin-right: 0;
  }
  .control-button {
    margin-right: 0;
  }
  .player-controls {
    justify-content: space-between;
  }
}

@media (max-width: 900px) {
  .time {
    display: none;
  }
  .fullscreen {
    margin-right: 15px;
  }
  .video-progress {
    width: 68%;
  }
}

@media (max-width: 800px) {
  .header__nav {
    margin-right: -18px;
  }
}

@media (max-width: 768px) {
  ul.header__nav-list {
    transform: translateX(100%);
    position: fixed;
    inset: 0 0 0 20%;
    background-color: var(--black-color);
    padding-top: 134px;
    padding-left: 127px;
    display: flex;
    flex-direction: column;
    transition: transform 600ms ease-out;
    z-index: 2;
  }
  .header__theme-btn {
    right: 108px;
  }
  .header__lang {
    z-index: 2;
    margin-right: 95px;
  }
  .contact {
    background-image: url(../images/contacts768.jpg);
    background-repeat: no-repeat;
    min-height: 600px;
  }
  .contact-item {
    margin-top: 71px;
  }
  .contact-title {
    margin-bottom: 52px;
  }
  .burger-nav {
    display: block;
    z-index: 3;
    right: 20px;
  }
  .burger-nav__img {
    height: 50px;
    width: 50px;
  }
  .header__nav.header__nav--active .header__nav-list {
    transform: translateX(0%);
  }
  .header__nav.header__nav--active .burger-nav {
    height: 50px;
    top: 20px;
  }
  .header__nav.header__nav--active .burger-nav::after {
    transform: translate(-33%, 33%) rotate(45deg);
    top: -20%;
    border-bottom: none;
    border-top: 3.5px solid var(--white-color);
    width: 40px;
  }
  .header__nav.header__nav--active .burger-nav::before {
    top: 4%;
    transform: translate(10%, -10%) rotate(-45deg);
    border-top: 3.5px solid var(--white-color);
    width: 40px;
  }
  .header__nav-list li {
    margin-bottom: 16px;
  }
  .header__lang span {
    margin-right: 0.5px;
  }
  .header__lang-label__en {
    margin-right: 5px;
  }
  .header__lang-label__ru {
    margin-left: 5px;
  }
  .header__nav-item {
    font-size: 34px;
    line-height: 73px;
    margin-bottom: 16px;
    color: var(--white-color);
  }
  .portfolio__inner {
    grid-template-columns: 1fr;
  }
  .video-item {
    height: 500px;
    object-fit: cover;
  }
  .video-item__img {
    width: 80px;
    height: 80px;
  }
  .video__title {
    width: 47%;
  }
  .price__title {
    width: 56%;
  }

  .footer__inner {
    flex-direction: column;
    margin: -12px 0;
    margin-bottom: 100px;
    justify-content: center;
    min-height: 200px;
  }

  .footer__author {
    justify-content: flex-end;
  }

  ul.footer__social-list {
    margin: 15px 0 0 -30px;
    text-align: start;
  }
  .skills {
    padding-bottom: 160px;
    padding-top: 80px;
  }
  .skills__title {
    width: 58%;
    margin-bottom: 45px;
  }
  .portfolio {
    padding-bottom: 68px;
  }
  .video {
    padding-bottom: 80px;
  }
  .video__title,
  .price__title,
  .portfolio__title {
    margin-bottom: 50px;
  }
  .price {
    padding-bottom: 81px;
  }
}

@media (max-width: 760px) {
  .hero__item-text {
    max-width: 300px;
  }

  .video-title::before {
    width: 400px;
    left: -82%;
  }
}

@media (max-width: 720px) {
  body {
    height: 590px;
    background-position: -55px -30px;
    background-size: auto 620px;
  }
  .price-content {
    margin-left: 10px;
  }
  .fullscreen {
    margin-right: 8px;
  }
}

@media (max-width: 620px) {
  body {
    height: 590px;
    background-position: -95px -30px;
    background-size: auto 620px;
  }
  .video-progress {
    width: 60%;
  }
  input[type="range"] {
    width: 17%;
    padding-left: 0px;
  }
}

@media (max-width: 619px) {
  ul.header__nav-list {
    inset: 0 0 0 0;
  }
}

@media (max-width: 600px) {
  .skills__inner {
    grid-template-columns: 1fr;
  }
  .portfolio-filter__list-btn {
    max-width: 150px;
    padding: 8px 30px;
  }
  .skills__title {
    width: 100%;
  }
  .portfolio__title {
    width: 75%;
  }
}

@media (max-width: 550px) {
  ul.header__nav-list {
    padding-left: 90px;
  }
  .video__title,
  .price__title,
  .portfolio__title {
    width: 80%;
  }
  .video__title {
    width: 61%;
  }
  input[type="range"] {
    width: 15%;
    padding-left: 0px;
  }
  .video-progress {
    width: 55%;
  }
}

@media (max-width: 500px) {
  body {
    height: 590px;
    background-position: -145px -30px;
    background-size: auto 620px;
  }
  .header__nav {
    margin-right: -10px;
  }
  .header__theme-btn {
    right: 90px;
  }
  .header__lang {
    margin-right: 70px;
  }
  .skills,
  .portfolio,
  .video,
  .price {
    padding-bottom: 50px;
  }
  .container {
    padding: 0 19px;
  }
  .media-container {
    padding: 0 0;
  }
  .price-content__item {
    width: 340px;
  }
  .video__title {
    width: 73%;
  }
  .burger-nav {
    right: 13px;
}
}

@media (max-width: 450px) {
  .portfolio-title::before {
    width: 365px;
    left: -30%;
  }

  .portfolio-title::after {
    width: 90%;
    left: 11px;
  }
  .price-content {
    margin-left: 0px;
  }
  .portfolio__title {
    width: 100%;
  }
  body {
    position: relative;
  }
  body::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    left: 0;
    height: 590px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
  }
  .video-progress {
    width: 55%;
  }
}

@media (max-width: 420px) {
  .video-progress {
    width: 50%;
  }
}

@media (max-width: 400px) {
  .header__theme-btn {
    right: 85px;
  }
  body {
    height: 590px;
    background-position: -165px -30px;
    background-size: auto 620px;
  }

  ul.header__nav-list {
    padding-left: 60px;
  }

  .portfolio-filter__list-btn {
    max-width: 138px;
    padding: 3px 30px;
  }
  .price-title::before {
    width: 300px;
    left: -57%;
  }

  .price-content__item {
    width: 290px;
  }

  .contact-title {
    font-size: 36px;
  }

  .contact-item {
    justify-content: center;
  }
}
@media (max-width: 360px) {
  .hero {
    display: flex;
    margin: 0 auto;
    text-align: center;
    padding-top: 45px;
  }
  .hero__item-title {
    text-align: center;
  }
  .hero__item-text {
    padding-left: 12px;
    text-align: left;
  }
  .video-progress {
    width: 45%;
  }
}
